@charset "UTF-8";

.nav {
	margin: 20px;
}

.header {
	margin: 20px;
}

.body {
	margin: 20px;
	/*   background: #eeeeee; */
	font-size: small;
	font-family: "Tahoma", Arial, sans-serif;
	/*   text-align: left; */
}

.media img {
	text-align: center;
}

.footer {
	/*     position: absolute; */
	left: 0;
	bottom: 0;
	background: #1b1b1b;
	background: rgba(27, 27, 27, 0.8);
	width: 100%;
	text-align: center;
}

.lecteur {
	width: 100%;
	padding: 20px;
}

.cover {
	width: 100%;
}